.bg-home {
  background-image: url('/img/index/home.jpg');
}

.instruction {
  &-enter {
    opacity: 0;
  }
  &-enter-done {
    opacity: 1;
    transition: opacity 200ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}
