.button {
  &-stonecut {
    &__wrapper {
      position: absolute;
      top: -19px;
      left: -29px;
      clip-path: polygon(
        100% 35%,
        100% 0%,
        0% 1%,
        0% 99%,
        100% 99%,
        100% 65%,
        40% 65%,
        40% 35%
      );
    }

    &:hover svg {
      transform: scale(0.6) rotate(360deg);
    }

    svg {
      transform: scale(0.6) rotate(0deg);
      transition: all 1s ease-in-out;
    }
  }
  &-stonefull {
    &:before {
      content: '';
      background: url('/img/common/stonefull-button.svg') no-repeat center;
      height: 94px;
      width: 97px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: transform 1s ease-in-out;
    }
    &:hover:before {
      transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }
  }
  &-close {
    &:hover {
      transform: rotate(90deg);
    }
  }
}
