.button {
  &-stonecut {
    &__wrapper {
      position: absolute;
      top: -20px;
      left: -40px;
      clip-path: polygon(
        100% 35%,
        100% 0%,
        0% 1%,
        0% 99%,
        100% 99%,
        100% 65%,
        40% 70%,
        50% 35%
      );
    }

    &:hover svg {
      transform: scale(0.6) rotate(360deg);
    }

    svg {
      transform: scale(0.6) rotate(7deg);
      transition: all 2s cubic-bezier(0.32, 0, 0.27, 1);
    }
  }
  &-stonefull {
    &:before {
      content: '';
      background: url('/img/common/stonefull-button.svg') no-repeat center;
      height: 94px;
      width: 97px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: transform 0.7s ease-out;
    }
    &:hover:before {
      transform: translate3d(-50%, -50%, 0) scale(0.9) rotate(15deg);
    }
  }
  &-close {
    &:hover {
      transform: rotate(90deg);
    }
  }
}

#button {
  &-start {
    transform: scale3D(1, 1, 1);
    transition: transform 0.7s ease-out;

    &:hover {
      transform: scale3D(1.05, 1.05, 1.05);
    }
  }
}
