:root {
  --black: #282f28;
  --white: #fff;
  --primary: #303d57;
  --secondary: rgba(158, 175, 154, 0.95);
  --tertiary: #faf0d6;
  --shape-blob-primary: #446b816b;
  --shape-blob-tertiary: #e3e5e7cc;
  --cursor: #dae0dc;
}
