.sxrc25p {
  top: 100px !important;
}

.overflow-y-scroll {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
div::-webkit-scrollbar {
  display: none;
}
